body {
  margin: 0;
  background-color: darkgrey;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px #3d3d3d;
}

.error {
  color: red;
}

.stock {
  color: blue;
}

.center {
  text-align: center;
  margin: auto;
}

.margin-tb-small {
  margin-top: 8px;
  margin-bottom: 8px;
}
